<div class="container">
  <h3>Add a new bottle to your Cellr.</h3>

  <%= bootstrap_form_for(@bottle) do |b| %>
  <%= b.text_field :title, class: 'form-control' %>
  <%= b.text_field :type, class: 'form-control' %>
  <%= b.text_field :grape_variety, class: 'form-control' %>
  <%= b.text_field :vintage, class: 'form-control' %>
  <%= b.submit 'Add Bottle', class: "btn btn-secondary" %>

  <% end %>

</div>
