<div class="container">


<h1 class="mt-5 mb-5">Sign Up for Cellr.</h1>

<%= bootstrap_form_for :user, url: '/users' do |f| %>
  <%= f.email_field :email %><br>
  <%= f.password_field :password %><br>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Sign Up" %> Or <button type="button" class="btn btn-link">Login</button>
<% end %>

</div>
